<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>是否启用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.accdemo</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>是否启用</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>如自动模式无效，可尝试其它模式</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.brend0n.accdemo</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>mode</string>
			<key>label</key>
			<string>模式</string>
			<key>validTitles</key>
			<array>
				<string>模式一(自动)</string>
				<string>模式二</string>
				<string>模式三</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>请输入加速倍率(0-100)</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.brend0n.accdemo</string>
			<key>key</key>
			<string>rate1</string>
			<key>isDecimalPad</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.brend0n.accdemo</string>
			<key>key</key>
			<string>rate2</string>
			<key>isDecimalPad</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.brend0n.accdemo</string>
			<key>key</key>
			<string>rate3</string>
			<key>isDecimalPad</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>可输入多个速度，游戏中按下按钮会在启用的速度和原速度之间切换，填1则不启用</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>是否启用悬浮按钮</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.accdemo</string>
			<key>key</key>
			<string>buttonEnabled</string>
			<key>label</key>
			<string>悬浮按钮</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>切换速度时是否弹出提示框</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brend0n.accdemo</string>
			<key>key</key>
			<string>toast</string>
			<key>label</key>
			<string>提示框</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>选择启用的游戏</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>选择启用的游戏</string>
			<key>action</key>
			<string>selectApp</string>
		</dict>
	</array>
	<key>title</key>
	<string>accDemo</string>
</dict>
</plist>
