<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>是否启用</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.brend0n.accdemo</string>
				<key>key</key>
				<string>enabled</string>
				<key>label</key>
				<string>是否启用</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>请输入加速倍率(填1为不启用)</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string>1</string>
				<key>defaults</key>
				<string>com.brend0n.accdemo</string>
				<key>key</key>
				<string>rate1</string>
				<key>isNumeric</key>
				<true/>           
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string>1</string>
				<key>defaults</key>
				<string>com.brend0n.accdemo</string>
				<key>key</key>
				<string>rate2</string>
				<key>isNumeric</key>
				<true/>           
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string>1</string>
				<key>defaults</key>
				<string>com.brend0n.accdemo</string>
				<key>key</key>
				<string>rate3</string>
				<key>isNumeric</key>
				<true/>           
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>选择启用的游戏</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>选择启用的游戏</string>
				<key>action</key>
				<string>selectApp</string>
			</dict>
		</array>
		<key>title</key>
		<string>accDemo</string>
	</dict>
</plist>
