Package: com.brend0n.accdemo
Name: accDemo
Depends: mobilesubstrate,preferenceloader,com.spark.libsparkapplist
Version: 0.0.3
Architecture: iphoneos-arm
Description: unity/cocos2d game accelerator
Maintainer: Brendon
Author: Brendon
Section: Tweaks
