Package: com.brend0n.accdemo
Name: accDemo
Depends: mobilesubstrate, preferenceloader, applist
Version: 0.2.0r5
Architecture: iphoneos-arm
Description: unity/cocos2d game accelerator
 unity/cocos2d game accelerator
 0.2.0r5: fix a bug which crash the game when changing speed with showing option on
 0.2.0r4: remove background in speed pop-up
 0.2.0r3: add 32-bit device compatibility (only mode 2 or 3) and fix low iOS version compatibility
 0.2.0r2: fix a bug which cause a new speed being added each time the device respring
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Tweaks
