Package: com.brend0n.accdemo
Name: accDemo
Depends: mobilesubstrate, preferenceloader, applist
Version: 0.2.0
Architecture: iphoneos-arm
Description: unity/cocos2d game accelerator
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Tweaks
